<div class="container" style="margin-top: 20px">
<div class="col-md-12">
<div class="alert alert-info">
<% if @flash %>
  <ul>
    <% for message in @flash %>
      <%= message %>
    <% end %>
  </ul>
<% end %>
</div>
</div>
</div>