
<div class="row">
	<%= form_tag factors_path do %>
	  <%= hidden_field_tag :name, factor %>
	    
	  <a class="waves-effect waves-light btn orange lighten-3 col s2"><%= submit_tag factor.capitalize %></a>

	<% end %>
</div>

