<h1>Factors</h1>
<% if !@factors.empty? %>
  <ul>
    <% for factor in @factors %>
      <li><%= factor.question %> <%= link_to "Untrack", factor_path(factor), method: :delete, data: { confirm: 'Are you certain you want to stop tracking this factor?' } %></li>
    <% end %>
  </ul>
<% else %>
  <p>You are currently not tracking any factors.</p>
<% end %>

<a href="<%= new_factor_path %>">Track a new factor</a>