<h1>Track a new factor</h1>
<ul>
  <li><%= render partial: 'track_factor_form', locals: {factor: 'sleep'} %></li>
  <li><%= render partial: 'track_factor_form', locals: {factor: 'workout'} %></li>
</ul>

<%= render partial: 'form' %>